.container {
  height: calc(100vh - 3em);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.issueContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: calc(100vh - 3em) auto;
}

.issues {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.lines {
  height: 100%;
  background-color: red;
}

.footer {
  display: flex;
}

.footer > div {
  flex: 1;
}
