.container {
  position: relative;
  height: calc(100vh - 1.5em);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.issueContainer {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #37436e;
  display: flex;
  flex-direction: column;
}

.innerContainer {
  max-height: 100%;
  background-color: #6e2362;
}

.issues {
  position: relative;
  background-color: #346e35;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.lines {
  flex: 1;
  height: calc(100% - 150px - 3em);
  background-color: red;
}

.footer {
  position: relative;
  /*height: 100%;*/
  display: flex;
  background-color: #6e542c;
}

.footer > div {
  flex: 1;
}
