<div>
  This page is designed to provide simple examples on how to code Angular.
</div>
<!--<app-health-issue-slider></app-health-issue-slider>-->
<app-healthissue-overview></app-healthissue-overview>
<!--<app-user-viewer></app-user-viewer>-->
<!--<app-flex-layout></app-flex-layout>-->
<!--<app-gridlayout></app-gridlayout>-->
<!--<app-health-issue-slider (valueChanged)="displayValues($event)"></app-health-issue-slider>-->
<!--<div>Values are: {{values}}</div>-->
<!--<lib-slider (valueChanged)="displayValues($event)"></lib-slider>-->
