/* You can add global styles to this file, and also import other style files */
@import "~nouislider/distribute/nouislider.min.css";

/*.noUi-touch-area {*/
/*  !* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f5f5+0,f5f5f5+35,c6c6c1+65,c6c6ca+100 *!*/
/*  background: #f5f5f5; !* Old browsers *!*/
/*  background: -moz-linear-gradient(top, #f5f5f5 0%, #f5f5f5 35%, #c6c6c1 65%, #c6c6ca 100%); !* FF3.6-15 *!*/
/*  background: -webkit-linear-gradient(top, #f5f5f5 0%, #f5f5f5 35%, #c6c6c1 65%, #c6c6ca 100%); !* Chrome10-25,Safari5.1-6 *!*/
/*  background: linear-gradient(to bottom, #f5f5f5 0%, #f5f5f5 35%, #c6c6c1 65%, #c6c6ca 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#c6c6ca', GradientType=0); !* IE6-9 *!*/

/*}*/

.noUi-base {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#dbdbdb+0,f0f0f0+26,f0f0f0+100 */
  background: #dbdbdb; /* Old browsers */
  background: -moz-linear-gradient(top, #dbdbdb 0%, #f0f0f0 26%, #f0f0f0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #dbdbdb 0%, #f0f0f0 26%, #f0f0f0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dbdbdb 0%, #f0f0f0 26%, #f0f0f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdbdb', endColorstr='#f0f0f0', GradientType=0); /* IE6-9 */

}

.noUi-draggable {
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top, #f5f5f5 0%, #f5f5f5 35%, #c6c6c1 65%, #c6c6ca 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f5f5f5 0%,#f5f5f5 35%,#c6c6c1 65%,#c6c6ca 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f5f5f5 0%,#f5f5f5 35%,#c6c6c1 65%,#c6c6ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#c6c6ca',GradientType=0 ); /* IE6-9 */
}

.noUi-handle {
  top: 0;
  bottom: 20px;
  max-height: 2em;
  background: #f5f5f5; /* Old browsers */
  background: -moz-linear-gradient(top, #f5f5f5 0%, #f5f5f5 35%, #c6c6c1 65%, #c6c6ca 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f5f5f5 0%,#f5f5f5 35%,#c6c6c1 65%,#c6c6ca 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f5f5f5 0%,#f5f5f5 35%,#c6c6c1 65%,#c6c6ca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#c6c6ca',GradientType=0 ); /* IE6-9 */
}

.noUi-handle.noUi-handle-upper:after {
  content: '<';
}

.noUi-handle-lower:after{
  content: '>';
}
